USE [master]
GO
/****** Object:  Database [Biblioteca_DW]    Script Date: 16/6/2026 23:34:23 ******/
CREATE DATABASE [Biblioteca_DW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Biblioteca_DW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DWH_AG\MSSQL\DATA\Biblioteca_DW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Biblioteca_DW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DWH_AG\MSSQL\DATA\Biblioteca_DW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Biblioteca_DW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Biblioteca_DW]
GO
/****** Object:  Table [dbo].[Dim_Autor]    Script Date: 16/6/2026 23:34:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Autor](
	[id_autor] [int] NOT NULL,
	[nombres] [varchar](100) NULL,
	[apellidos] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_autor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Bibliotecario]    Script Date: 16/6/2026 23:34:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Bibliotecario](
	[id_bibliotecario] [int] NOT NULL,
	[nombres] [varchar](100) NULL,
	[apellidos] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bibliotecario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Carrera]    Script Date: 16/6/2026 23:34:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Carrera](
	[id_carrera] [int] NOT NULL,
	[nombre_carrera] [varchar](100) NULL,
	[facultad] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Categoria]    Script Date: 16/6/2026 23:34:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Categoria](
	[id_categoria] [int] NOT NULL,
	[nombre_categoria] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Estudiante]    Script Date: 16/6/2026 23:34:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Estudiante](
	[id_estudiante] [int] NOT NULL,
	[nombres] [varchar](100) NULL,
	[apellidos] [varchar](100) NULL,
	[sexo] [char](1) NULL,
	[semestre] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Libro]    Script Date: 16/6/2026 23:34:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Libro](
	[id_libro] [int] NOT NULL,
	[titulo] [varchar](250) NULL,
	[editorial] [varchar](100) NULL,
	[anio_publicacion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_libro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Tiempo]    Script Date: 16/6/2026 23:34:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Tiempo](
	[id_fecha] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[dia] [int] NULL,
	[mes] [int] NULL,
	[anio] [int] NULL,
	[trimestre] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Prestamo]    Script Date: 16/6/2026 23:34:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Prestamo](
	[id_prestamo] [int] IDENTITY(1,1) NOT NULL,
	[id_estudiante] [int] NULL,
	[id_libro] [int] NULL,
	[id_bibliotecario] [int] NULL,
	[id_carrera] [int] NULL,
	[id_categoria] [int] NULL,
	[id_autor] [int] NULL,
	[id_fecha] [int] NULL,
	[dias_prestamo] [int] NULL,
	[cantidad_prestamo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_prestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fact_Prestamo]  WITH CHECK ADD FOREIGN KEY([id_autor])
REFERENCES [dbo].[Dim_Autor] ([id_autor])
GO
ALTER TABLE [dbo].[Fact_Prestamo]  WITH CHECK ADD FOREIGN KEY([id_bibliotecario])
REFERENCES [dbo].[Dim_Bibliotecario] ([id_bibliotecario])
GO
ALTER TABLE [dbo].[Fact_Prestamo]  WITH CHECK ADD FOREIGN KEY([id_carrera])
REFERENCES [dbo].[Dim_Carrera] ([id_carrera])
GO
ALTER TABLE [dbo].[Fact_Prestamo]  WITH CHECK ADD FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Dim_Categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[Fact_Prestamo]  WITH CHECK ADD FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[Dim_Estudiante] ([id_estudiante])
GO
ALTER TABLE [dbo].[Fact_Prestamo]  WITH CHECK ADD FOREIGN KEY([id_fecha])
REFERENCES [dbo].[Dim_Tiempo] ([id_fecha])
GO
ALTER TABLE [dbo].[Fact_Prestamo]  WITH CHECK ADD FOREIGN KEY([id_libro])
REFERENCES [dbo].[Dim_Libro] ([id_libro])
GO
USE [master]
GO
